.aab{
    display: flex;
}
.selfp{
    width: 50%;
    height: 1000px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
.selfp img {
    width: 50%;
    margin-top: 100px;
    position: absolute;
    bottom: -1;
}
.hello{
    width: 50%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f9;
}
.con{
    margin-left: 1.5vw;
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    height: auto;
}
.name {
    font-weight: bold;
    font-size: 30px;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.aboutme{
    font-size: 16px;
    font-weight: 500;
}
.btn {
    display: flex;
    gap: 20px;
}
.logosos{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    transition: background-color 0.5s ease-in-out;
}
.logosos:hover{
    background-color: gray;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}
.app{
    margin-top: 20px;
    font-weight: bold;
}
@media (max-width: 480px) {
    .hello{
        height: 700px;
    }
    .selfp{
        height: 700px;
    }
    .selfp img{
        margin-top: 180px;
    }
    .name{
        font-size: 20px;
    }

}